@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nunito:wght@200;300;600&family=Radio+Canada:wght@300;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* HEADER */

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s;
}

.header__logo-img-cont {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 24px;
}

.header__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.header__logo-sub {
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__list {
    display: flex;
    list-style: none;
    margin-block-start: 15px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.header__link {
    text-decoration: none;
    color: #333;
    padding: 10px 25px;
    display: inline-block;
    font-size: 15px;
    font-family:  'Space Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.header__link:hover {
    opacity: 0.8;
}

.header__link:active {
    opacity: 0.6;
}

/* HOME SECTION */

.home-hero {
    color: #fff;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}